.box1 {
  display: flex;
  font-family: "Your Font Name", sans-serif;
  align-items: center; 
  flex-direction: column;
  justify-content: center;
  border-radius: 10px; 
  background-color: #71b7e6;
  border: 2px solid #000;
  margin: 0 200px;
}